body{
    margin: 0;
    padding: 0;
    background: url(hospital.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 350px;
    height: 350px;
    border-radius: 250px 250px 0px 0px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 25%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}


/*for regestration page*/

.backpic
{
 background-attachment:fixed;
 background-image:url(backadmin.jpg);
 width:1340px;
}

.Container
{ 
 background-attachment:scroll;
 background-color:rgb(255, 255, 255); 
 margin-left:89.5px;
 margin-right:89.5px;
 max-width:1170px;
 width:1170px;
}

.header
{
 background-attachment:scroll;
 background-color:rgb(42, 41, 41);
 height:135px;
 line-height:18.5714px;
 text-align:center;
 width:1170px; 
}